openapi: 3.0.3
info:
  title: Fi-Zen Core Inflation API
  description: Personal Inflation Rate Calculator - Core APIs
  version: 1.0.0
  contact:
    name: Fi-Zen Backend Team
    email: backend@fi.money

servers:
  - url: https://api.fi.money/v1/inflation
    description: Production server
  - url: https://staging-api.fi.money/v1/inflation
    description: Staging server

paths:
  /calculate:
    post:
      summary: Calculate Personal Inflation Rate
      description: Calculate user's personal inflation rate based on spending data
      tags:
        - Core Calculation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - spendingData
                - location
              properties:
                userId:
                  type: string
                  description: Fi user ID
                  example: "fi_user_123456"
                spendingData:
                  type: object
                  properties:
                    housing:
                      type: number
                      description: Monthly housing expenses
                      example: 45000
                    food:
                      type: number
                      description: Monthly food expenses
                      example: 28000
                    transport:
                      type: number
                      description: Monthly transport expenses
                      example: 15000
                    healthcare:
                      type: number
                      description: Monthly healthcare expenses
                      example: 8000
                    education:
                      type: number
                      description: Monthly education expenses
                      example: 12000
                    entertainment:
                      type: number
                      description: Monthly entertainment expenses
                      example: 10000
                    others:
                      type: number
                      description: Other monthly expenses
                      example: 7000
                location:
                  type: object
                  required:
                    - city
                    - state
                  properties:
                    city:
                      type: string
                      example: "Mumbai"
                    state:
                      type: string
                      example: "Maharashtra"
                    pincode:
                      type: string
                      example: "400001"
                timeRange:
                  type: object
                  properties:
                    startDate:
                      type: string
                      format: date
                      example: "2024-01-01"
                    endDate:
                      type: string
                      format: date
                      example: "2024-07-01"
      responses:
        '200':
          description: Personal inflation rate calculated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      personalInflationRate:
                        type: number
                        description: User's personal inflation rate
                        example: 11.8
                      governmentInflationRate:
                        type: number
                        description: Official government inflation rate
                        example: 6.5
                      difference:
                        type: number
                        description: Difference between personal and government rate
                        example: 5.3
                      categoryBreakdown:
                        type: object
                        properties:
                          housing:
                            type: object
                            properties:
                              inflationRate:
                                type: number
                                example: 8.5
                              contribution:
                                type: number
                                description: Contribution to overall inflation
                                example: 2.4
                          food:
                            type: object
                            properties:
                              inflationRate:
                                type: number
                                example: 12.3
                              contribution:
                                type: number
                                example: 4.1
                          transport:
                            type: object
                            properties:
                              inflationRate:
                                type: number
                                example: -2.5
                              contribution:
                                type: number
                                example: 1.3
                      confidence:
                        type: number
                        description: Confidence level of calculation (0-100)
                        example: 85
                      dataSource:
                        type: string
                        description: Source of inflation data
                        example: "MOSPI CPI Data + User Spending Analysis"
                      calculatedAt:
                        type: string
                        format: date-time
                        example: "2024-07-20T09:00:00Z"
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - Invalid Fi user token
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error

  /government-rates:
    get:
      summary: Get Government Inflation Rates
      description: Fetch current government inflation rates by location
      tags:
        - Government Data
      parameters:
        - name: city
          in: query
          required: true
          schema:
            type: string
          example: "Mumbai"
        - name: state
          in: query
          required: true
          schema:
            type: string
          example: "Maharashtra"
        - name: category
          in: query
          required: false
          schema:
            type: string
            enum: [housing, food, transport, healthcare, education, entertainment, overall]
          example: "overall"
      responses:
        '200':
          description: Government inflation rates retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      location:
                        type: object
                        properties:
                          city:
                            type: string
                            example: "Mumbai"
                          state:
                            type: string
                            example: "Maharashtra"
                      overallInflationRate:
                        type: number
                        example: 6.5
                      categoryRates:
                        type: object
                        properties:
                          housing:
                            type: number
                            example: 7.2
                          food:
                            type: number
                            example: 8.1
                          transport:
                            type: number
                            example: 4.3
                          healthcare:
                            type: number
                            example: 5.8
                          education:
                            type: number
                            example: 6.9
                          entertainment:
                            type: number
                            example: 3.2
                      dataSource:
                        type: string
                        example: "MOSPI Consumer Price Index"
                      lastUpdated:
                        type: string
                        format: date-time
                        example: "2024-07-15T00:00:00Z"

components:
  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              example: "INVALID_REQUEST"
            message:
              type: string
              example: "Invalid spending data provided"
            details:
              type: string
              example: "Housing amount must be greater than 0"

  securitySchemes:
    FiAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Fi user authentication token

security:
  - FiAuth: []
